

// * é o seletor global
*{
    margin: 0;   // espaçamento externo das tags
    padding: 0;  // espaçamento interno das tags
    box-sizing: border-box;  // Faz o calculo correto dos tamanhos dos elementos
}

body{
    font-family: "Montserrat",sans-serif;
    
}

header{
    background-color: #a4161a;

}

h1{
    color: #d3d3d3;
    font-family: "Gravitas One",serif ;
}

a{
    text-decoration: none;
    color: #d3d3d3;
    padding: 5px;
}
main{
    background-color: #161a1d;
}

.card{
    img{
        width: 20vw;
    }
    h2{
        color:#ba181b;
    }
}



#btn1{
    background-color: #b1a7a6;
}


